<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title%></title>
  <link rel="stylesheet" href="/styles.css" />
</head>

<body>
  <%- include('partials/header') %>

  <main>
    <div class="message-header">
      <h1>Messages</h1>
      <% if (currentUser) { %>
        <a href="/message/new"><button id="add-message">+ New Message</button></a>
        <% } %>
    </div>
  
    <div class="messages-cont">
      <% if (messages.length > 0) { %>
        <% messages.forEach((msg) => { %>
          <div class="message">
            <% if (currentUser) { %>
              <div class="msg-left-cont">
                <div class="msg-side">
                  <span class="msg-username"><%= msg.username %></span>
                  <% if (currentUser.super_member) { %>
                    <span class="user-fullname">(<%= msg.first_name %> <%= msg.last_name %>)</span>
                  <% } %>
                </div>
                
                <%# For showcasing project: msg.message_id > 3 does not allows first 3 messages to be deleted. %>
                <% if (currentUser.super_member && msg.message_id > 3) {%>
                  <div class="msg-side">
                    <form action="/deleteMessage" method="POST">
                      <input type="hidden" name="message_id" value="<%= msg.message_id %>">
                      <button type="submit" class="delete-btn">Delete</button>
                    </form>
                    <span class="msg-id">Message ID: <%= msg.message_id %></span>
                  </div>
                <% } else if (currentUser.user_id == msg.user_id) { %>
                    <form action="/deleteMessage" method="POST">
                      <input type="hidden" name="message_id" value="<%= msg.message_id %>">
                      <button type="submit" class="delete-btn">Delete</button>
                    </form>
                <% } %>
              </div>
              <div class="msg-right-cont">
                <span class="msg-subject"><%= msg.subject %></span>
                <span class="msg-message"><%= msg.message %></span>
                <span class="msg-timestamp"><%= msg.timestamp %></span>
              </div>
            <% } else { %>
              <div class="msg-left-cont">
                <div class="msg-side">
                  <span class="msg-username guest">Anonymous</span>
                </div>
              </div>
  
              <div class="msg-right-cont">
                <span class="msg-subject guest">Subject</span>
                <span class="msg-message guest"><a href="/login">Sign-In</a> to view this message.</span>
                <span class="msg-timestamp"><%= msg.timestamp %></span>
              </div>
            <% } %>
          </div>
        <% }); %>
      <% } else { %>
        <p>No messages to display.</p>
      <% } %>
    </div>
  </main>

  
</body>

</html>