<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.png">
  </head>
  <body>
    <%- include('partials/header') %>

    <main>
      <div class="page-cont">
        <h1>Create a new message</h1>
        <form action="" method="POST">
          <label for="subject">Subject: </label>
          <br>
          <input class="subject" name="subject" type="text" maxLength="50" required />
          <%- include('partials/customErrors', {errors: errors, selector:
          'subject'}) %>
          <br />
          <label for="message">Message: </label>
          <br />
          <textarea
            class="message-text"
            for="message"
            name="message"
            maxLength="500"
            required
          ></textarea>
          <%- include('partials/customErrors', {errors: errors, selector:
          'message'}) %>
          <br />
          <button class="btn-green" type="submit">Submit</button>
        </form>
    
        <br>
        <a href="/">Return to home page</a>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
